
<%- include('partials/header') %>

    <h1>I'm Abdul Hakeem Shaik</h1>
    <h2>send a message to whatsapp Number : +91 7036489557</h2>
    <h3>Or you can mail me to this : sk.a.hakeem123@gmail.com</h3>


<%- include('partials/footer') %>
