




<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Student Registration Form In Bootstrap 5 </title>
  <style>
    body {
      padding: 0;
      margin: 0;
      font-family: "Nunito Sans";
      background-color: #F4BE2C;
    }
    .ftco-section {
        padding: 0em 0;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    p {
      margin: 0;
      text-transform: capitalize;
      font-weight: bold;
    }

    th {
      padding: 10px !important;
    }

    .table {
      margin-bottom: 0px;
    }

    .dropdown-toggle2 {
      background-color: #fff;
    }

    .table>:not(caption)>*>* {
      border-color: #F4BE2C;
      vertical-align: middle;
      white-space: nowrap;
    }

    .table>:not(:first-child) {
      border-top: #F4BE2C;
    }

    .table>thead {
      background-color: #F4BE2C;
      color: #fff;
    }

    .row {
      align-items: center;
    }

    .form-control {
      line-height: 2;
      border: 1px solid #ddd;
      border-radius: 2px;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #F4BE2C;
    }

    .form-check-input:checked {
      background-color: #F4BE2C;
      border-color: #F4BE2C;
    }

    .form-check-input:focus {
      box-shadow: none;
    }

    .form-control:hover {
      border-color: #F4BE2C;
    }

    .bg-custom {
      border: 1px solid #F4BE2C;
    }

    .btn-custom {
      border-color: #F4BE2C;
      color: #F4BE2C;
    }

    .btn-custom:hover {
      background-color: #F4BE2C;
      color: #fff;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    }

    .row.m-0 {
      border-bottom: 1px solid #f4be2b;
      margin-bottom: 15px !important;
      background: #f4be2b;
      font-weight: 600;
      color: #fff;
    }

    .row.mb-2 {
      margin: 0;
    }

    .col-lg-4 p {
      font-size: 12px;
    }
    }

    @media(max-width: 992px) {
      form {
        width: 80%;
      }
    }

    @media(max-width: 575px) {
      form {
        width: 100%;
      }
    }
  </style>
</head>


<body>


  <section class="ftco-section">



    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acadamics</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/acadamic-2022">2022</a>
                <a class="dropdown-item" href="/acadamic-2021">2021</a>
                <a class="dropdown-item" href="/acadamic-2020">2020</a>
                <a class="dropdown-item" href="/acadamic-2019">2019</a>
              </div>
            </li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student Corner</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/std-register">Register</a>
                <a class="dropdown-item" href="/std-login">Login</a>
                <a class="dropdown-item" href="/std-materials">Materials</a>
                <a class="dropdown-item" href="/std-notifications">Notifications</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Faculty Corner</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/fac-register">Register</a>
                <a class="dropdown-item" href="/fac-login">Login</a>
                <a class="dropdown-item" href="/fac-timings">Timings</a>
                <a class="dropdown-item" href="/fac-notifications">Notifications</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
    <!-- END nav -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>



    <div class="container mt-5">
      <h1>Enter Student Id's </h1>

      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">

              <!-- Makes POST request to /register route -->
              <form action="/idEntry" method="POST">

                <div class="form-group">
                  <label for="email">Id No.</label>
                  <input type="text" placeholder="Enter Your ID Card number : " class="form-control" name="id">
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
              </form>

            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="card social-block">
            <div class="card-body">
              <a class="btn btn-block" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign Up with Google
              </a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
